.example-spacer {
    flex: 1 1 auto;
}
.toolbar-bg{
    background-color: #038896;
    height: 85px;
    padding: 0 100px;
    position: fixed;
    z-index: 18;
}
.fa-times{
    font-size: 20px;
    color: white;
}
.logo{
    margin-left: 45px;
}
.menu-btn{
    border: none;
    background-color: transparent;
}
.search-input{
    transition: width 0.4s ease-in-out;
}
.search{
    transition: width 0.4s ease-in-out;
}
.profile{
    margin: 0 35px;
}
.profile-image{
    width: 50px;
    height: 50px;
    margin: 0 12px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000054;
}
// .search:before {
//     content: '';
//     position: absolute;
//     width: 20px;
//     height: 4px;
//     background-color: #fff;
//     -webkit-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
//     margin-top: 26px;
//     margin-left: 17px;
//     -webkit-transition: 0.2s ease-in-out;
//     transition: 0.2s ease-in-out;
//   }