<div>
    <mat-toolbar class="toolbar-bg">
      <button class="menu-btn" aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
          <img *ngIf="!opened" src="./assets/images/Menu_2_.png">
          <div *ngIf="opened">
            <i  class="fas fa-times"></i>
          </div>
      </button>
      <span class="logo">
          <img src="./assets/images/Link_logo_vertical_color_Light_RGB.png" width="68px" height="39px">
      </span>
      <span class="example-spacer"></span>
      <button *ngIf="!isSearch" mat-icon-button class="example-icon search favorite-icon" aria-label="Example icon-button with heart icon" (click)="onShowSearchInput()">
        <mat-icon>search</mat-icon>
      </button>
      <mat-form-field *ngIf="isSearch">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput type="search" placeholder="search here" class="search-input">
      </mat-form-field>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon matBadge="1" MatBadgeSize="small" >notifications</mat-icon>
      </button>
      <div class="profile">
        <img src="./assets/images/img2.png" class="profile-image">
        <span>username</span>
      </div>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <img src="./assets/images/settings.png">
     </button>
  </mat-toolbar>
</div>
