
<div class="container newsWarp">
    <div class="overlay" *ngIf="IsWait">
        <mat-progress-spinner class="spinner" mode="indeterminate"  [value]="value">
        </mat-progress-spinner>
    </div>
    <div class="navigator">
        <a [routerLink]="['/home']">Home</a> <i class="fas fa-chevron-right"></i> <span>News</span>
    </div>
    <h1>News</h1>
    <div class="actions">
        <div class="date-from">
            <mat-form-field appearance="outline">
                <mat-label>From</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="date-to">
            <mat-form-field appearance="outline">
                <mat-label>To</mat-label>
                <input matInput [matDatepicker]="pickerto">
                <mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
                <mat-datepicker #pickerto></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="category">
            <mat-form-field appearance="outline">
                <mat-label>Select a Category</mat-label>
                <mat-select (selectionChange)="sortByCategory($event.value)">
                  <mat-option value="all">All</mat-option>
                  <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="search">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Search</mat-label>
                <input [(ngModel)]="searchValue" type="text" matInput>
            </mat-form-field>
            <button mat-button matSuffix (click)="onSearchClick()"><mat-icon>search</mat-icon></button>
        </div>
        <div class="sorting">
            <button mat-button  matSort>Sort By <mat-icon>swap_vert</mat-icon></button>
        </div>
    </div>
    <div class="row card-group" *ngIf="news.length > 0">
        <div class="col-md-4 col-sm-6 col-12" *ngFor="let item of news  | paginate: { itemsPerPage: 12, currentPage: page }">
            <mat-card class="example-card">
                <div class="news-img">
                    <img [src]="item.urlToImage" alt="Photo of a Shiba Inu">
                </div>
                <div class="social-activity">
                    <div class="float-right">
                        <button mat-button><i class="far fa-heart"></i></button>
                        <button mat-button><i class="fas fa-share-alt"></i></button>
                    </div>
                </div>
                <div>
                    <mat-card-title>{{item.title}}</mat-card-title>
                    <button [routerLink]="['/news/'+item.id+'/details']" mat-button class="newsBtn">News</button>
                </div>
                
                <mat-card-content>
                  <p>
                    {{item.description}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <label class="cardDate">
                    <i class="far fa-calendar-alt"></i>
                    {{item.publishedAt}}
                  </label>
                </mat-card-actions>
              </mat-card>
        </div>
        <pagination-controls class="text-center" (pageChange)="page = $event" [previousLabel]="''"
        [nextLabel]="''"></pagination-controls>
    </div>
    <div class="text-center no-news" *ngIf="news.length == 0">
        <h1>No News Found</h1>
    </div>
    
</div>
<app-footer></app-footer>