.newsWarp{
    margin-top: 120px;
    .overlay{
        position:absolute;
	    top: 0;
	    bottom:0;
	    left: 0;
	    right:0;
	    width: 100%;
	    height: 100%;
	    z-index: 100;
        background-color: #212121d6;
        .spinner{
            margin: 28% auto;
        }
    }
    h1{
        font-size: 40px;
        font-weight: 500;
        margin: 22px 0px;
    }
    .actions{
        display: flex;
        flex-wrap: wrap;
        div{
            align-self:center;
            flex: auto;
        }
        .search {
            button{
                background-color: #8DC043;
                margin-bottom: 0;
                padding-top: 3px;
                line-height: 44px;
                color: white;
            }
        }
        .sorting{
            button{
                color:#8DC043 ;
                font-size: 15px;
                font-weight: normal;
            }
        }
    }
    
    .card-group{
        .float-right{
            float: right;
            button{
                color: #8DC043;
                font-size: 20px;
            }
        }
        .example-card{
            height: 540px;
            margin: 15px;
            .social-activity{
                width: 100%;
                height: 40px;
            }
            .newsBtn{
                background-color: #74747433;
                padding: 0 0px;
                font-size: 13px;
                line-height: 25px;
                margin: 10px 5px;
            }
            .cardDate{
                color: #8DC043;
                padding-left: 9px;
            }
            ::ng-deep .mat-card-title {
                font-size: 23px;
                font-weight: 400;
                line-height: 1.2;
            }
        }
        .news-img img{
            width: 100%;
            height: 190px;
            object-fit: cover;
        }
    }

    .no-news{
        height: 500px;
        h1{
            color:#038896 ;
            line-height:7;
        }
    }
    
}
.navigator{
    a{
        color: #038896;
        font-size: 15px;
        text-decoration: none;
    }
    .fa-chevron-right{
        color: #afafaf;
        margin: 0 15px;
        font-size: 15px;
    }
    span{
        font-size: 15px;
        color: #afafaf;
    }
}
::ng-deep .mat-form-field-label {
    color: #000;
}
::ng-deep .mat-form-field-infix {
    border-top: .3em solid transparent;
}
