.newsWarp{
    margin-top: 120px;
    .overlay{
        position:absolute;
	    top: 0;
	    bottom:0;
	    left: 0;
	    right:0;
	    width: 100%;
	    height: 100%;
	    z-index: 100;
        background-color: #212121d6;
        .spinner{
            margin: 28% auto;
        }
    }
    h1{
        font-size: 40px;
        font-weight: 500;
        margin: 22px 0px;
    }
    .newsCard{
        .float-right{
            float: right;
            button{
                color: #8DC043;
                font-size: 20px;
            }
        }
        .example-card{
            height: 100%;
            margin: 15px;
            padding: 0;
            .social-activity{
                width: 100%;
                height: 40px;
            }
            .newsBtn{
                background-color: #74747433;
                padding: 0 0px;
                font-size: 13px;
                line-height: 25px;
                margin: 10px 5px;
            }
            .cardDate{
                color: #8DC043;
                padding-left: 9px;
            }
            .wrapCardContent{
                padding: 30px;
                line-height: 2;
            }
            .category{
                margin: 10px 0;
                span{
                    color: #565960;
                }
            }
            ::ng-deep .mat-card-title {
                font-size: 23px;
                font-weight: 400;
                line-height: 1.2;
                
            }
        }
        .news-img img{
            width: 100%;
            height: 100%;
            max-height: 600px;
            object-fit: cover;
        }
    }
}
.navigator{
    a{
        color: #038896;
        font-size: 15px;
        text-decoration: none;
    }
    .fa-chevron-right{
        color: #afafaf;
        margin: 0 15px;
        font-size: 15px;
    }
    span{
        font-size: 15px;
        color: #afafaf;
    }
}
.related-cards{
    .example-card{
        height: 340px;
        margin: 15px;
        padding: 0;
        .news-img{
            position: relative;
            img{
                width: 100%;
                height: 100%;
                max-height: 340px;
                object-fit: cover;
            }
            .overlay{
                position:absolute;
	            top: 0;
	            bottom:0;
	            left: 0;
	            right:0;
	            width: 100%;
	            height: 100%;
	            z-index: 100;
                background: rgb(2,0,36);
                background: linear-gradient(25deg, rgb(2 0 36 / 31%) 0%, rgb(16 17 17 / 32%) 0%, rgb(223 230 231 / 33%) 100%);
                .float-right{
                    float: right;
                    button{
                        color: #8DC043;
                        font-size: 15px;
                    }
                }
                .inside-card{
                    background-color: #ffffffc9;
                    width: 93%;
                    height: 42%;
                    margin: 180px auto;
                    border-radius: 8px;
                    padding: 15px;
                }
            }
        }
    }
}