<div class="container newsWarp">
    <div class="overlay" *ngIf="IsWait">
        <mat-progress-spinner class="spinner" mode="indeterminate"  [value]="value">
        </mat-progress-spinner>
    </div>
    <div class="navigator">
        <a [routerLink]="['/home']">Home</a> <i class="fas fa-chevron-right"></i>  <a [routerLink]="['/news']">News</a> <i class="fas fa-chevron-right"></i> <span>News Details</span>
    </div>
    <h1>News Details</h1>
    <div class="newsCard">
        <div class="">
            <mat-card class="example-card" *ngIf="newsDetails">
                <div class="news-img">
                    <img [src]="newsDetails.urlToImage" alt="Photo of a Shiba Inu">
                </div>
                <div class="social-activity">
                    <div class="float-right">
                        <button mat-button><i class="far fa-heart"></i></button>
                        <button mat-button><i class="fas fa-share-alt"></i></button>
                    </div>
                </div>
                <div class="wrapCardContent">
                    <div class="category" *ngFor="let category of categoryList">
                        <span *ngIf="category.id == newsDetails.sourceID">{{category.name}} </span>
                    </div>
                    <mat-card-title>{{newsDetails.title}}</mat-card-title>
                    <mat-card-content>
                        <p>
                          {{newsDetails.content}}
                        </p>
                      </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
    <h1>Related Topics</h1>
    <div class="row related-cards">
        <div class="col-4" *ngFor="let item of relatedTopics">
             <mat-card class="example-card">
                <div class="news-img">
                    <img [src]="item.img">
                    <div class="overlay">
                        <div class="inside-card ">
                            <span>Category</span>
                            <h2>{{item.title}}</h2>
                            <div class="float-right">
                                <button mat-button>View All <i class="fas fa-long-arrow-alt-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="social-activity">
                    <div class="float-right">
                        <button mat-button><i class="far fa-heart"></i></button>
                        <button mat-button><i class="fas fa-share-alt"></i></button>
                    </div>
                </div>
                <div>
                    <mat-card-title>{{item.title}}</mat-card-title>
                    <button [routerLink]="['/news/'+item.id+'/details']" mat-button class="newsBtn">News</button>
                </div>
                
                <mat-card-content>
                  <p>
                    {{item.description}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <label class="cardDate">
                    <i class="far fa-calendar-alt"></i>
                    {{item.publishedAt}}
                  </label>
                </mat-card-actions>-->
              </mat-card> 
        </div>
    </div>
</div>
<app-footer></app-footer>