<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sideMenu">
        <div class="row">
            <div class="col-3 social-col">
                <ul>
                    <li><a><i class="social fab fa-twitter"></i></a></li>
                    <li><a><i class="social fab fa-facebook-f"></i></a></li>
                    <li><a><i class="social fab fa-linkedin-in"></i></a></li>
                    <li><a><img class="social youtube" src="./assets/images/surface2.png"></a></li>
                    <li><a><i class="social fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-9">
                <ul>
                    <li><a [routerLink]="['/home']" routerLinkActive="router-link-active active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
                    <li>About US
                        <ul class="child-list">
                            <li><a>Who Are Us</a></li>
                            <li><a>Why Us</a></li>
                        </ul>
                    </li>
                    <li> News
                        <ul class="child-list">
                            <li><a [routerLink]="['/news']" routerLinkActive="router-link-active active" [routerLinkActiveOptions]="{exact:true}">News</a></li>
                            <li><a>Events</a></li>
                        </ul>
                    </li>
                    <li> Careers
                        <ul class="child-list">
                            <li><a>Opportunities</a></li>
                        </ul>
                    </li>
                    <li><a>Contact Us</a></li>
                    <li><a>Site Map</a></li>
                </ul>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>
            
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>