::ng-deep .mat-drawer-container {
    background-color: #efefef;
    color: #000000;
}
::ng-deep .mat-card {
    background: #ffffff;
    color: #000000;
}
::ng-deep .mat-form-field-label {
    color: #000;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    background-color: rgb(255 255 255 / 75%);
}
::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button .mat-datepicker-toggle-default-icon, 
::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button .mat-datepicker-toggle-default-icon {
    margin: auto;
    color: #8DC043;
}
::ng-deep .mat-select-arrow {
    color: #8DC043;
}
::ng-deep .mat-select-value {
    color: #424242;
}
::ng-deep .ngx-pagination .current {
    background: #8DC043 !important;
    
}
::ng-deep .ngx-pagination a, 
::ng-deep .ngx-pagination button {
    color: #8DC043 !important;
    background-color: #ffffff;
    border-radius: 2px;
    text-decoration: none;
}
::ng-deep .ngx-pagination {
    margin-left: 0;
    margin-bottom: 40px !important;
    margin-top: 40px;
}
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #8DC043;
}
 ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #8DC043;
}
::ng-deep .mat-badge-content {
    color: #fff;
    background: #8DC043;
}
::ng-deep .mat-badge-medium .mat-badge-content {
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 7px;
}
::ng-deep .mat-badge-medium.mat-badge-above .mat-badge-content {
    top: 0px;
    left: 14px;
}