<footer>
    <div class="first-section">
        <div class="row">
            <div class="col-3 text-center">
                <ul>
                    <li>
                        <a>News</a>
                    </li>
                    <li>
                        <a>Events</a>
                    </li>
                    <li>
                        <a>About</a>
                    </li>
                    <li>
                        <a>FAQs</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li>
                        <a>Privacy Policy</a>
                    </li>
                    <li>
                        <a>Contact Us</a>
                    </li>
                    <li>
                        <a>Complaints</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <label>Subscribe To Newsletter</label>
                <div>
                    <input type="email" placeholder="Email Address" class="email-input">
                    <button  mat-button class="subscribe-btn">
                        Subscribe
                    </button>
                </div>
            </div>
            <div class="col-3">
                <label>Follow Us On</label>
                <ul class="social-list">
                    <li>
                        <a><i class="social fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a><img class="social youtube" src="./assets/images/surface1.png"></a>
                    </li>
                    <li>
                        <a><i class="social fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a><i class="social fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a><i class="social fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="second-section text-center">
        All Rights Reserved - Link Development Company &copy; 2020
    </div>
</footer>