
* {
    font-family: Open Sans, sans-serif !important; 
    /* Add !important to overwrite all elements */
    color: #565960;
}
.first-section{
    background: #d4d4d4;
    line-height: 2;
    padding: 22px 0 0 0;
}
.row {
    --bs-gutter-x: 0;
}
li{
    list-style-type: none;
}
.email-input{
    border: none;
    border-radius: 4px;
    padding: 3px 45px 3px 13px;
    background-color: #EAE3E3;
}
.subscribe-btn{
    background-color: #8DC043;
    color: white;
}
.social-list{
    display:flex;
    padding: 8px 0;
}
.social{
    width: 20px;
    font-size: 20px;
    height: 23px;
    color: #565960;
    margin: 0 10px;
}
.social.fa-linkedin-in{
    border: 1px solid #565960;
    padding: 1px 2px;
    border-radius: 3px;
}
.second-section{
    background-color: #038896;
    padding: 16px;
    color: white;
}
::ng-deep .mat-body, 
::ng-deep .mat-body-1,
::ng-deep .mat-typography {
    font: 400 14px/20px Open Sans;
    letter-spacing: normal;
}