<section class="header-section">
    <div class="overlay">
        <carousel [showIndicators]="showIndicator">
            <slide *ngFor="let slide of carouselData">
              <div class="text-center py-5  text-white">
                <h2>{{slide.header}}</h2>
                <div class="lead">
                  <p>{{slide.paragragh}}</p>
                </div>
                <div class="mt-4">
                    <button mat-button class="donateBtn">Donate Now</button>
                </div>
              </div>
            </slide>
        </carousel>
    </div>
</section>
<section class="news-section container">
    <div class="header-div">
        <div class="float-right">
            <button [routerLink]="['/news']" mat-button>View All <i class="fas fa-long-arrow-alt-right"></i></button>
        </div>
        <h2>Latest News</h2>
    </div>
    <div class="row card-group" *ngIf="news.length > 0">
        <div class="col-md-4 col-sm-6 col-12" *ngFor="let item of news">
            <mat-card class="example-card">
                <div class="news-img">
                    <img [src]="item.urlToImage" alt="Photo of a Shiba Inu">
                </div>
                <div class="social-activity">
                    <div class="float-right">
                        <button mat-button><i class="far fa-heart"></i></button>
                        <button mat-button><i class="fas fa-share-alt"></i></button>
                    </div>
                </div>
                <div>
                    <mat-card-title>{{item.title}}</mat-card-title>
                    <button [routerLink]="['/news/'+item.id+'/details']" mat-button class="newsBtn">News</button>
                </div>
                
                <mat-card-content>
                  <p>
                    {{item.description}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <label class="cardDate">
                    <i class="far fa-calendar-alt"></i>
                    {{item.publishedAt}}
                  </label>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>

</section>
<section class="last-section">
    <div class="overlay text-center">
        <div class="wrapper">
            <h1>How we have helped</h1>
            <h3>See how Al Foundation have promoted change locally and to the world</h3>
            <br>
            <div class="row">
                <div class="col-3" *ngFor="let item of dataArray">
                    <div class="rect"></div>
                    <div class="text-wrapp">
                        <li class="icon"><i [class]="item.class"></i></li>
                        <li><p>{{item.text}}</p></li>
                        <li><i class="fas fa-plus"></i></li>
                    </div>
                </div>
            </div>
            <div class="row container">
                <div class="col-md-4 col-4" *ngFor="let item of dataArray2">
                    <div class="rect"></div>
                    <div class="text-wrapp">
                        <li class="icon"><i [class]="item.class"></i></li>
                        <li><p>{{item.text}}</p></li>
                        <li><i class="fas fa-plus"></i></li>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>