.header-section{
    background-image: url('../../../assets/images/Rectangle\ 2\ copy.png');
    width: 100%;
    height: 600px;
    margin-top: 85px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .overlay{
        position:absolute;
	    top: 0;
	    bottom:0;
	    left: 0;
	    right:0;
	    width: 100%;
	    height: 100%;
	    z-index: 100;
        background-color: #7575758c;
        ::ng-deep .carousel {
            position: absolute;
            width: 100%;
            bottom: 25%;
        }
        ::ng-deep .carousel-control-prev-icon,
        ::ng-deep .carousel-control-next-icon {
            background-color: #B1ADAD;
            border-radius: 2px;
        }
        .donateBtn{
            background-color: #8DC043;
            color: white;
        }
    }
}
.news-section{
    padding: 25px;
    h2{
        font-size: 25px;
    }
    .float-right{
        float: right;
        button{
            color: #8DC043;
            font-size: 20px;
        }
    }
    .card-group{
        .example-card{
            height: 540px;
            margin: 15px;
            .social-activity{
                width: 100%;
                height: 40px;
            }
            .newsBtn{
                background-color: #74747433;
                padding: 0 0px;
                font-size: 13px;
                line-height: 25px;
                margin: 10px 5px;
            }
            .cardDate{
                color: #8DC043;
                padding-left: 9px;
            }
            ::ng-deep .mat-card-title {
                font-size: 23px;
                font-weight: 400;
                line-height: 1.2;
            }
        }
        .news-img img{
            width: 100%;
            height: 190px;
            object-fit: cover;
        }
    }
}
.last-section{
    background-image: url('../../../assets/images/Rectangle\ 2.png');
    width: 100%;
    height: 907px;
    margin-top: 85px;
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
    position: relative;
    .overlay{
        position:absolute;
	    top: 0;
	    bottom:0;
	    left: 0;
	    right:0;
	    width: 100%;
	    height: 100%;
	    z-index: 100;
        background-color: #3f3f3f87;
        color: white;
        h1{
            font-size:34px;
        }
        .wrapper{
            margin-top: 10%;
        }
        li{
            list-style-type: none;
        }
        .row{
            --bs-gutter-x: 0;
            margin: 4% auto;
            width: 80%;
        }
        .col-3{
            position: relative;
            .rect{
                border: 3px solid;
                 width: 200px;
                height: 200px;
                transform: rotate(45deg);
                margin: auto;
            }
            .text-wrapp{
                position: absolute;
                line-height: 2;
                top: -2%;
                left: 39%;
                font-size: 18px;
                li.icon{
                    font-size: 45px;
                }
            }
        }
        .col-md-4{
            position: relative;
            .rect{
                border: 3px solid;
                 width: 180px;
                height: 180px;
                transform: rotate(45deg);
                margin: auto;
            }
            .text-wrapp{
                position: absolute;
                line-height: 2;
                top: 2%;
                left: 40%;
                font-size: 20px;
                li.icon{
                    font-size: 45px;
                }
            }
        }
    }
}