/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;background-color: #efefef !important; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::ng-deep .mat-drawer-container {
    background-color: #efefef;
    color: #000000;
}